<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Email List</title>

    <!-- link axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js" defer></script>

    <!-- link js -->
    <script src="https://cdn.jsdelivr.net/npm/luxon@3.1.0/build/global/luxon.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.13/dist/vue.js" defer></script>
    <script src="js/script.js" defer></script>
</head>
<body>
    <div id="root">
        <!-- <button @click="getOneMail">click per 1 email</button> -->
        <button @click="getTenMails">click per 10 email</button>
        <ul>
            <li v-for="(getEmail) in emails" v-if="emails.length == 10">{{ getEmail }}</li>
        </ul>
    </div>
</body>
</html>